{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ post.title }}
{% endblock %}



{% block content %}

    <main class="container">

        <article class="post-single">

            <img src="{{ post.image.url }}" class="post-image">

            <h1 class="post-title">{{ post.title }}</h1>


            <div class="tags">
                {% for tag in post.tag.all %}
                 <span class="tag" ><a href="{% url 'posts' %}?tag={{ tag.name }}" style="color: green" >{{ tag.name }}</a></span>
               {% endfor %}
            </div>

            <div class="post-content">
   {{ post.description|safe }}
            </div>

        </article>

        <section class="comments">
            <h2>کامنت‌ها</h2>

            <div class="comment-box">
                <strong>کاربر اول</strong>
                <p>این یک کامنت نمونه است.</p>
            </div>

            <div class="comment-box">
                <strong>کاربر دوم</strong>
                <p>این هم یک کامنت دیگر برای تست ظاهر قالب است.</p>
            </div>
        </section>

        <section class="comment-form">
            <h2>ارسال کامنت</h2>
            <form>
                <input type="text" placeholder="نام">
                <textarea placeholder="متن کامنت..."></textarea>
                <button type="submit">ارسال</button>
            </form>
        </section>

    </main>
{% endblock %}
