{% load static %}
{% load mytag %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>

<body>

<nav class="navbar">
    <div class="nav-logo">وبلاگ سبز</div>

    <ul class="nav-links">
        <li><a href="#">خانه</a></li>
        <li><a href="#">پست‌ها</a></li>
        <li><a href="#">درباره</a></li>
        <li><a href="#">تماس</a></li>
    </ul>

    {% search %}
</nav>

{% block content %}
{% endblock %}

</body>
</html>
